@font-face {
    font-family: 'PuradakGentleGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PuradakGentleGothic/PuradakGentleGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PuradakGentleGothic/PuradakGentleGothic.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PuradakGentleGothic/PuradakGentleGothic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PuradakGentleGothic/PuradakGentleGothic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PuradakGentleGothic/PuradakGentleGothic.ttf') format("truetype");
    font-display: swap;
} 